@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--blue-primary: #0c092a;
	--yellow-primary: #f7a400;
}

* {
	font-family: "Euclid Circular A", sans-serif;
	font-optical-sizing: auto;
	/* scrollbar-width: thin;
	scrollbar-color: #4144bd #e1e1f4; */
}

/* Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #2b2829;
}

/* ::-webkit-scrollbar-track {
	background-color: #08089f;
	border-radius: 4px;
} */

.layout {
	--bg-color-100: #ffffff;
	--bg-color-200: #ffffff;
	--bg-color-300: #f9f9f9;
	--bg-color-400: #f0f0f7;
	--bg-color-500: #e3e3e3;

	--logo-color: #4144bd;
	--text-color: var(--blue-primary);
}

.layout.dark {
	--bg-color-100: #0d0d0d;
	--bg-color-200: #151314;
	--bg-color-300: #2b2829;
	--bg-color-400: #2b2829;
	--bg-color-500: #1d1d1d;

	--logo-color: #e1e1f4;
	--text-color: var(--logo-color);
}

nav li a.active,
nav li a:hover {
	color: var(--yellow-primary);
}

button:focus {
	border-width: 2px;
	border-color: var(--logo-color);
}
